Upgrade from draft-ietf-pce-pce-initiated-lsp-00 to rfc8281  

Current version was based on  draft-ietf-pce-pce-initiated-lsp-00. Need to upgrade to rfc8281
Differences:
*  The optional SPEAKER-ENTITY-ID TLV defined in [RFC8232] MAY be included in the LSP object in a PCRpt message as an optional TLV.
*  LSP Object flag: OLD 24, NEW  4   (   Create            RFC 8281)

  8.3.  SRP object

   IANA has created a new subregistry, named "SRP Object Flag Field",
   within the "Path Computation Element Protocol (PCEP) Numbers"
   registry, to manage the Flag field of the SRP object.  New values are
   to be assigned by Standards Action [RFC8126].  Each bit is tracked
   with the following qualities: bit number (counting from bit 0 as the
   most significant bit), description, and defining RFC.

   The following values are defined in this document:

                    Bit     Description       Reference
                    ---     -----------       -------------

                     31     LSP-Remove        RFC 8281

8.4.  STATEFUL-PCE-CAPABILITY TLV

   [RFC8231] defines the STATEFUL-PCE-CAPABILITY TLV; per that RFC, IANA
   created a registry to manage the value of the STATEFUL-PCE-CAPABILITY
   TLV's Flag field.  IANA has allocated a new bit in the STATEFUL-PCE-
   CAPABILITY TLV Flag Field registry, as follows:

            Bit  Description                      Reference
            ---  -------------------------------- -------------

             29  LSP-INSTANTIATION-CAPABILITY (I) RFC 8281


8.5.  PCEP-Error Object

   IANA has registered the following error types and error values within
   the "PCEP-ERROR Object Error Types and Values" subregistry of the
   PCEP Numbers registry.

   Error-Type  Meaning
   ----------  --------------
      10       Reception of an invalid object

                Error-value=8:  SYMBOLIC-PATH-NAME TLV missing

      19       Invalid Operation

                Error-value=6:  PCE-initiated LSP limit reached
                Error-value=7:  Delegation for PCE-initiated LSP cannot
                                 be revoked
                Error-value=8:  Non-zero PLSP-ID in LSP Initiate Request
                Error-value=9:  LSP is not PCE initiated
                Error-value=10: PCE-initiated operation-frequency limit
                                 reached

      23       Bad parameter value

                Error-value=1:  SYMBOLIC-PATH-NAME in use
                Error-value=2:  Speaker identity included for an LSP
                                 that is not PCE initiated

      24       LSP instantiation error

                Error-value=1:  Unacceptable instantiation parameters
                Error-value=2:  Internal error
                Error-value=3:  Signaling error

